/* ==========================================================================
   Base style based on Risky game
   ========================================================================== */

body {
  background: #102633;
  padding: 0px;
  margin: 0px;
}
